@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.lvz-header .logo {
  float: left;
  color: white;
  padding: 0 20px;
  font-weight: bold;
}

.lvz-content {
  flex: 1;
  padding: 24px 50px;
}

.lvz-footer {
  text-align: center;
}
